APP_NAME=SembriExport
APP_ENV=local
APP_DEBUG=true
APP_TIMEZONE=America/Guayaquil

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=mangos_pr
DB_PORT=3306
DB_CHARSET=utf8mb4

GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.0-flash

# Futuras API Keys
# NOMBRE_SERVICIO_API_KEY=
